body {
    font-family: 'Roboto Flex', 'Source Sans 3', sans-serif;
    background-color: #EFE6D4;
    margin: 0;
    padding: 0;

}
/*ETUSIVU*/

/*etusivun otsikko*/
.front-page-heading{
    color: #695858;
}

.wp-block-group.top-group {
    max-width: none; /* Poistaa mahdollisen maksimileveyden rajoituksen */
    width: 100%; /* Asettaa leveyden täyttämään käytettävissä olevan tilan */
    margin: auto; /* Keskittää containerin, jos se ei ole jo keskitetty */
    padding: 20px; /* Lisää paddingia containerin sisäpuolelle */
}


.wc-block-grid__products {
    flex-wrap: nowrap; /* Estää elementtien siirtymisen uudelle riville */
    padding: 0;

}

/* 'Top Rated Products' lohkon sisällä olevat tuotteet */
.top-product .wc-block-grid__product {
    border: 4px solid black; /*kehys */
    padding: 15px; /* Sisäinen padding */
    margin-bottom: 20px; /* Marginaali tuotekorttien välillä */
    border-radius: 10px; /* Pyöristetyt kulmat */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Kevyt varjostus */
    transition: box-shadow 0.3s ease; /* Siirtymä varjostukselle */
    flex-basis: calc((100% - 20px * 2) / 3); /* Olettaen, että haluat 3 tuotetta rinnakkain ja 20px yhteismarginaali */
    margin: 5px;
    box-sizing: border-box;
}
.top-product .wc-block-grid__product:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Voimakkaampi varjostus hover-tilassa */
}

/* Lisätyyli tuotekuvalle */
.top-product .wc-block-grid__product img {
    border-radius: 5px; /* Pyöristetyt kulmat kuvalle */
    max-width: 100%; /* Asettaa kuvan maksimileveydeksi 100% containerinsa leveydestä */
    height: auto; /* Säilyttää kuvan mittasuhteet */
    border: 2px solid #9B968E;
}

/*Etusivun ja kaupan napit*/
.wp-block-button__link.wp-element-button.add_to_cart_button.ajax_add_to_cart {
    background-color: #333; /* Taustaväri */
    color: #ffffff; /* Tekstin väri */
    border-radius: 10px; /* Reunuksen pyöristys */
    transition: background-color 0.3s ease; /* Animaatio taustavärin muutokselle */
}

/* Hover-tila etusivun ja kaupan napeissa */
.wp-block-button__link.wp-element-button.add_to_cart_button.ajax_add_to_cart:hover {
    background-color: #333; /* Taustavärin muutos, kun hiiri on elementin päällä */
}

/*KAUPPA*/

.product-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 4px solid black; /* Kehyksen väri ja paksuus */
    padding: 20px;
    border-radius: 10px; /* Pyöristetyt kulmat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Varjostus */
    margin: 10px;
    background-color: transparent; /* Taustaväri */   
}

/* Tuotekortin kuva */
.wc-block-components-product-image {
    margin: 0 0 12px;
    border-radius: 5px;
    border: 2px solid #9B968E;
}


/*BLOGI*/
.blog_images img{
    border: 2px solid #9B968E !important;
    border-radius: 10px !important;
    object-fit: cover !important;
    position: relative !important;
    z-index: 1 !important;
    border-style: inset !important;
}




/* footerin alapuolella olevan alueen piilottaminen*/
#back-to-top{
    display: none;
}

/* YHTEYSTIEDOT-SIVU*/

/* yhteystiedot (puhelin, osoite, aukioloajat)*/
.contact-info{
    color: #695858;
}

/* yhteystiedot-sivun otsikot*/
.contact-heading{
    color: #695858;
}

/* yhteydenottolomake*/
input.ff-el-form-control{
    height: 3.5em;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: -5px;
}
/* yhteydenottolomakkeen nappi*/
.ff-btn.ff-btn-submit.ff-btn-md.submit-button.ff_btn_style.wpf_has_custom_css{
    background-color: #333;
    transition: all 0.3s ease-in-out;
    width: 100%; /* Asettaa napin leveyden täyttämään koko vanhemman elementin leveyden */
    box-sizing: border-box; /* Ottaa paddingin ja borderin huomioon leveydessä, jottei nappi "vuoda" yli */
    margin-top: -5px; 
}

/* yhteydenottolomakkeen nappi hover-tilassa*/
.ff-btn.ff-btn-submit.ff-btn-md.submit-button.ff_btn_style.wpf_has_custom_css:hover {
    background-color:#333; /* Vaihda taustaväri hover-tilassa */
    color: white; /* Vaihda tekstin väri hover-tilassa */
    border-color: #333; /* Vaihda reunuksen väri hover-tilassa */

/* muita nappeja joiden css-luokkaa ei pystynyt vaihtamaan*/
}
.components-button.wc-block-components-button.wp-element-button.wp-block-woocommerce-mini-cart-checkout-button-block.wc-block-mini-cart__footer-checkout.contained {
    background-color: #333; /* Muuttaa napin taustavärin */
    color: #ffffff; /* Muuttaa napin tekstin värin */
    border-radius: 10px; /* Reunuksen pyöristys */
}
/* Hover-tila*/
.components-button.wc-block-components-button.wp-element-button.wp-block-woocommerce-mini-cart-checkout-button-block.wc-block-mini-cart__footer-checkout.contained:hover {
    background-color: #333; /* Muuttaa napin taustavärin kun hiiri on sen päällä */
}

.components-button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
    background-color: #333; /* Napin taustaväri */
    color: #ffffff; /* Napin tekstin väri */
    border-radius: 10px; /* Reunuksen pyöristys */
    transition: background-color 0.3s, transform 0.3s; /* Siirtymäefektit taustavärille ja muunnokselle */
}

/* hover-tila */
.components-button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained:hover {
    background-color: #333; /* Napin taustaväri hover-tilassa */
}
/* näytä ostoskori -nappi */
.components-button.wc-block-components-button.wp-element-button.wp-block-woocommerce-mini-cart-cart-button-block.wc-block-mini-cart__footer-cart.outlined {
    background-color: transparent; /* Läpinäkyvä tausta */
    color: #333333; /* Napin tekstin väri */
    transition: all 0.3s ease; /* Siirtymäefektit */
    border-radius: 10px; /* Reunuksen pyöristys */
}

.components-button.wc-block-components-button.wp-element-button.wp-block-woocommerce-mini-cart-cart-button-block.wc-block-mini-cart__footer-cart.outlined:hover {
    background-color: #333; /* Tummennettu tausta hover-tilassa */
    color: #ffffff; /* Valkoinen teksti hover-tilassa */
    border-color: #333; /* Tummennettu reunus hover-tilassa */
}

/* lisää kuponki kassalla -nappi */

.components-button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained {
    background-color: #333; /* Sininen tausta */
    color: #FFF; /* Valkoinen teksti */
    border-radius: 10px; /* Reunuksen pyöristys */
    transition: background-color 0.3s, transform 0.3s; /* Siirtymäefektit taustavärille ja muunnokselle */
}
    

/*hover-tila */
.components-button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained:hover {
    background-color: #333; /* Napin taustaväri hover-tilassa */
}
/*start shopping -nappi kun ostoskori on tyhjä */
.components-button.wc-block-components-button.wp-element-button.wp-block-woocommerce-mini-cart-shopping-button-block.wp-block-button__link.wc-block-mini-cart__shopping-button.contained {
    background-color: #333; /* Sininen tausta */
    color: #FFF; /* Valkoinen teksti */
    border-radius: 10px; /* Reunuksen pyöristys */
    transition: background-color 0.3s, transform 0.3s; /* Siirtymäefektit taustavärille ja muunnokselle */
}
/*hover-tila */
.components-button.wc-block-components-button.wp-element-button.wp-block-woocommerce-mini-cart-shopping-button-block.wp-block-button__link.wc-block-mini-cart__shopping-button.contained:hover {
    background-color: #333; /* Napin taustaväri hover-tilassa */
}
